body {
  font-family: Arial, sans-serif;
}
#scatter-plot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bar-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}