body {
  font-family: Arial, sans-serif;
}

.axis-label {
  font-size: 14px;
}

.tooltip {
  pointer-events: none;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#scatter-plot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bar-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#box-plot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}